@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbotron {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(./../assets/img/liquid-bg.png);
}

.marquee-w {
    position: absolute;
    display: block;
    width: 100%;
    height: 14rem;
    left: 50%;
    transform: translate(-50%, -100%);
    overflow: hidden;
}
.marquee {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}
.marquee span{
    display: inline-block;
    color: white;
    white-space: nowrap;
    font-size: 10rem;
    animation: marquee 40s linear infinite;
    animation-delay: -40s;
}
.marquee span:nth-child(2) {
    animation: marquee2 40s linear infinite;
    animation-delay: -20s;
}
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translate(-100%);
    }
}
@keyframes marquee2 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200%);
    }
} 
.font-sora {
    font-family: 'Sora';
}
.font-bebas {
    font-family: 'Bebas Neue', cursive;
}

.header-img:hover .card {
    opacity: 1;
    display: block;
    transform: translate(5%, -100px);
}

.header-img:hover .card.left {
    opacity: 1;
    display: block;
    transform: translate(-55%, -100px);
}


.infinite-carousel-container {
    background-image: url("./../assets/img/bg-running.png");
}


.carousel-slide-track {
    animation: scroll 20s linear infinite;
}

.carousel-slide-track-2 {
    animation: scroll-2 20s linear infinite;
}


@keyframes scroll {
    0% {
        transform: translateX(-25vw);
    }
    50% {
        transform: translateX(25vw);
    }
    100% {
        transform: translateX(-25vw);
    }
}

@keyframes scroll-2 {
    0% {
        transform: translateX(25vw);
    }
    50% {
        transform: translateX(-25vw);
    }
    100% {
        transform: translateX(25vw);
    }
}

