@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.marquee-w {
    position: absolute;
    display: block;
    width: 100%;
    height: 14rem;
    left: 50%;
    transform: translate(-50%, -100%);
    overflow: hidden;
}
.marquee {
    position: absolute;
    display: block;
    margin: auto auto;
    white-space: nowrap;
    overflow: hidden;
    min-width: 100%;
}
.marquee span {
    display: inline-block;
    padding-left: 100%;
    color: white;
    white-space: nowrap;
    font-size: 10rem;
    animation: marquee 20s linear infinite;
}
.marquee2 span {
    animation-delay: 10s;
}
@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}
.font-sora {
    font-family: 'Sora';
}
.font-bebas {
    font-family: 'Bebas Neue', cursive;
}

.header-img:hover .card {
    opacity: 1;
    display: block;
    transform: translate(5%, -100px);
}

.header-img:hover .card.left {
    opacity: 1;
    display: block;
    transform: translate(-55%, -100px);
}

.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: calc(100% * 4);
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.corousel-slide-track {
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-25%)
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}